* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: #030303;
}
#loader {
  height: 100%;
  width: 100%;
  position: relative;
  z-index: 999;
  background-color: #0b0b0b;
  padding: 25vh 10vw;
  font-family: "Plain Light";
}

#main {
  position: relative;
  background-color: #030303;
}
#page1 {
  min-height: 100vh;
  width: 100vw;
  /* background-color: chartreuse; */
  background-color: #0b0b0b;
}
.line {
  /* background-color: red; */
  height: fit-content;
  margin-bottom: 5px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 3vw;
}
#line1-part1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
}
.line h1 {
  font-size: 6.5vw;
  font-weight: 900;
  text-transform: uppercase;
}
#line1-part1 h4,
#line1-part1 h5 {
  font-size: 3vw;
  font-family: "silk serif";
  font-weight: 100;
}
#line1-part1 h4 {
  /* position: fixed; */
  /* background-color: green; */
  width: 5vw;
  text-align: right;
}
.line h2 {
  display: inline;
  font-size: 5vw;
  text-transform: uppercase;
  font-weight: 900;
  /* font-family: "silk serif"; */
  opacity: 0;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes anime {
  0% {
    font-family: "Plain Light";
    -webkit-text-stroke: 0.1px #fff;
    color: #fff;
    font-weight: 500;
  }
  0% {
    font-family: "Plain Light";
    -webkit-text-stroke: 0.1px #fff;
    color: #fff;
    font-weight: 500;
    opacity: 1;
  }
  47% {
    font-family: "silk serif";
    -webkit-text-stroke: 0.1px #fff;
    font-weight: 500;
    color: transparent;
    opacity: 1;
  }
  50% {
    font-family: "silk serif";
    -webkit-text-stroke: 0.1px #fff;
    font-weight: 500;
    color: transparent;
    opacity: 0;
  }
}
